.carrossel__titulo {
    color: var(--destaque);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;

}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    

}

.descricao__titulo {
    color: var(--destaque);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;

}

.descricao__texto {
    font-size: 14px;
}

.descricao__imagem {
    border-radius: 15px;
    margin: 0.75em;
}

.botoes__item {
    margin: 0.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.botoes__ancora {
    background-color: var(--destaque);
    padding: 1em 2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    

}


.descricao__avaliacao {
    margin: 0.5em 0;
    
}
